{{ include('@Cron/type/Daily.html.twig') }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            {{ form_row(form.cronType.weekdays) }}
        </div>
    </div>
</div>